# Only include files here if you're prepared to have them deleted
# by `make clean`
attiny/*/*.hex
attiny/*/*.err
attiny/*/*.lst
attiny/modules/timer1_prescalar.asm
ch340g-test/test
android/.gradle
.tmp
android/app/build
android/app/libs
android/build
caches
daemon
jdks
kotlin-profile
native
notifications
android/workers
