attiny/tests/*.hex
attiny/tests/*.lst
attiny/lib/prescale.asm
attiny/obsolete
android-share/*
android-share/.knowPackages
!android-share/.gitkeep
android/.gradle
android/.tmp
android/app/build
android/app/libs
android/app/src/androidTest
android/build
android/caches
android/daemon
android/jdks
android/kotlin-profile
android/native
android/notifications
android/workers
