# Only include files here if you're prepared to have them deleted
# by `make clean`
src/avr/asm/*/*.hex
src/avr/asm/*/*.err
src/avr/asm/*/*.lst
ch340g/libusb_test/libusb_test
ch340g/libusb_test/driver_functions.c
src/*/.gradle
src/*/build
src/shared/src/commonMain/kotlin/gpo_746/Ch340g.kt
