<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-feature android:name="android.hardware.telephony"/>
    <uses-permission android:name="android.permission.USB_PERMISSION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:supportsRtl="false"
        android:icon="@mipmap/ic_launcher"
        android:label="GPO 746"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat"
    >
        <activity
            android:name=".UselessActivity"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"
            />
        </activity>
        <service
            android:name=".PhoneService"
            android:exported="true"
        >
        </service>
        <receiver
            android:name=".UsbDetach"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter"
            />
        </receiver>
        <receiver
            android:name=".IncomingCall"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
